*{
    padding: 1;
    margin: 0 ;
    
}

:root {
    --bg: white;
    --webbg: rgb(234, 238, 255);
    --text: black;
}

html, body {
    font-family: "Comic Sans MS" ,"Comic Neue", cursive;
    font-size: larger;
    background-color: var(--webbg);
    color: var(--text);
    transition: 0.67s ;
    margin: 1;
}

body.dark {
    --bg: black;
    --webbg: rgb(24, 27, 38);
    --text: white;

}

button {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    font-size: larger;
    font-weight: bolder;
    background-color: var(--bg);
    border: solid;
}
/* navigation bar */

@media (max-width: 768px) {
    #navbar{
        display: none;
    }

    #sidebar{
        display: none;
        }
    #content {
        padding: 5px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    #mainbutton{
        justify-content: center;
        display: flexbox;
        text-align: center;
        align-items: center;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
}

.navigation {
    list-style: none;
    display: flex;
    background-color: var(--bg);
    padding: 0;
    margin: 1;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 4px solid;
    
}

.navigation li a {
    display: block;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: letter-spacing 0.5s;
}

.navigation li a:hover {
    letter-spacing: 3px;
    color: rgb(252, 188, 199);
    font-weight: bolder;
}

.navigation li a:active {
    display: block;
    color: rgb(255, 87, 115);
}

.leftnav, .centernav, .rightnav {
    list-style-type: none;
}

.leftnav a{
    display: block;
    padding: 10px;
    margin: 0;
    margin-left: auto; 
    color: var(--text);
    text-decoration: none;
    transition: letter-spacing 0.5s;
}

.leftnav a:hover{
    letter-spacing: 0.1em;
    color: aquamarine;
    cursor: help;
}

.centernav li {
    justify-content: center;
    display: inline-table;
}

.login-btn {
    border: none;
    visibility: visible;
}

.login-btn:hover {
    border: 4px;
    color: var(--text);
    background-color: var(--bg);
    cursor: pointer;
}

/* main stuff */

h1 {
    justify-content: center;
    display: flex;
    transition: color 0.3s;
}

h1:hover {
    justify-content: center;
    display: flex;
    color: aquamarine;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 50px;
}

h2:hover {
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 50px;
    text-decoration: underline;
    cursor: default;
}

p {
    line-height: 25px;
    font-size: 16px;
    justify-content: flex-start;
    cursor: default;
    
}

.settings {
    font-size: large;
    line-height: 40px;
    margin: 10px 5px ;
    transition: letter-spacing 0.5s;
}

.settings:hover {
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
}


.footer {
    list-style: none;
    display: flex;
    background-color: var(--bg);
    padding: 0;
    margin: 1;
    justify-content: space-between;
    gap: 20px;
    
    
}

.footer.content {
    background-color: var(--bg);
    border-top: 3px solid;
    
    
}

.footer.content li a {    
    display: inline-flex;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: letter-spacing 0.5s;
    list-style-type: none;
    
    
}

.footer.content li a:hover {    
    letter-spacing: 3px;
    font-weight: bolder;
    
}

.social.instagram:hover{
    color: rgb(250, 155, 171);
}

.social.twitter:hover{
    color: rgb(83, 195, 232);
}


.container-box {
    display: flex;
}

.child-box {
    justify-self: right;
    float: left;
    display: flex;
    width: 700px;
    height: fit-content;
    background-color: var(--bg);
    border: 5px solid;
    padding: 15px;
    margin: 10px;
    margin-left: 15%;
}

.child-box.sidebar{
    display: block;
    padding: 15px;
    width: fit-content;
    justify-content: flex-end;
    height: fit-content;
    text-decoration: none;
    margin-left: 10px;
}


/* animations */
.moveRightanimation {
    
    animation: moveRight 0.1s linear infinite; iteration-count direction fill-mode;
}

@keyframes moveRight {
    0% { transform: translateX(-100%); }
  100% { transform: translateX(10000px); }
}

