*{
    padding: 1;
    margin: 0 ;
    
}

:root {
    --bg: white;
    --webbg: rgb(234, 238, 255);
    --text: black;
    --sidebarcolor: rgb(255, 200, 209);
}

html, body {
    font-family: "Comic Sans MS" ,"Comic Neue", cursive;
    font-size: larger;
    background-color: var(--webbg);
    color: var(--text);
    transition: 0.67s ;
    margin: 1;
}

body.dark {
    --bg: black;
    --webbg: rgb(24, 27, 38);
    --text: white;
    --sidebarcolor: hsl(350, 78%, 60%);

}

button {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    font-size: larger;
    font-weight: bolder;
    background-color: var(--bg);
    border: solid;
}
/* navigation bar */

@media (max-width: 768px) {
    #navbar{
        display: none;
    }

    #sidebar{
        display: none;
        }
    #content {
        padding: 5px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    #mainbutton{
        justify-content: left;
        display: block;
        text-align: left;
        align-items: left;
        height: auto;
        margin-left: auto;
        padding: 0;
        
    }

    #loginnav {
        display: ;
    }
    
}

.navigation {
    list-style: none;
    display: flex;
    background-color: var(--bg);
    padding: 0;
    margin: 1;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 4px solid;
    
}

.navigation ul {
    flex: 1;
    display: flex;
}

.navigation li a {
    display: flex;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: letter-spacing 0.5s;
}

.navigation li a:hover {
    letter-spacing: 3px;
    color: rgb(252, 188, 199);
    font-weight: bolder;
}

.navigation li a:active {
    display: block;
    color: rgb(255, 87, 115);
}

.leftnav, .centernav, .rightnav {
    list-style-type: none;
}

.leftnav a{
    display: block;
    padding: 10px;
    margin: 0;
    margin-left: auto; 
    color: var(--text);
    text-decoration: none;
    transition: letter-spacing 0.5s;
    flex: auto;
}

.leftnav a:hover{
    letter-spacing: 0.1em;
    color: aquamarine;
    cursor: help;
}



.centernav li{
    justify-content: center;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: auto;
}


/* buttons */
.login-btn {
    border: none;
    visibility: visible;
}

.login-btn:hover {
    border: 4px;
    color: var(--text);
    background-color: var(--bg);
    cursor: pointer;
}

/* hamburger sidebar */

.hamburger-btn {
    flex: auto;
    display: inline-flex;
    justify-content: right;
    border: 0;
    color: var(--text);
}

.hamburger-btn:hover {
    flex: auto;
    display: inline-flex;
    justify-content: right;
    border: 0;
    color: aquamarine;
}

.hamburger {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebarcolor);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.hamburger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: letter-spacing 0.3s;
}

.hamburger a:hover {
    letter-spacing: 0.1em;

}


/*website settings modal popup */

.popupwindow {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg);
    background-color: rgba(0,0,0,0.5);
    border: 5px var(--sidebarcolor);
    transition: 1s;
    
    
}

.popupcontent {
    margin: 15% auto;
    padding: 20px;
    background-color: var(--bg);
    animation-name: slideIn;
    animation-duration: 0.5s;
    width: fit-content;
    border: 5px solid;
    border-radius: 10px;
}

.popupcontent.closing {
    animation-name: slideIn;
    animation-duration: 0.5s;
    
}

.closebtn:hover{
    cursor: pointer;
    color: var(--webbg);
}


/* main stuff */

h1 {
    justify-content: center;
    display: flex;
    transition: color 0.3s;
}

h1:hover {
    justify-content: center;
    display: flex;
    color: aquamarine;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 50px;
}

h2:hover {
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 50px;
    text-decoration: underline;
    cursor: default;
}

p {
    line-height: 25px;
    font-size: 16px;
    justify-content: flex-start;
    cursor: default;
    
}

.settings {
    font-size: large;
    line-height: 40px;
    margin: 10px 5px ;
    transition: letter-spacing 0.5s;
}

.settings:hover {
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
}


.footer {
    list-style: none;
    display: flex;
    background-color: var(--bg);
    padding: 0;
    margin: 1;
    justify-content: space-between;
    gap: 20px;
    
    
}

.footer.content {
    background-color: var(--bg);
    border-top: 3px solid;
    
    
}

.footer.content li a {    
    display: inline-flex;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: letter-spacing 0.5s;
    list-style-type: none;
    
    
}

.footer.content li a:hover {    
    letter-spacing: 3px;
    font-weight: bolder;
    
}

.social.instagram:hover{
    color: rgb(250, 155, 171);
}

.social.twitter:hover{
    color: rgb(83, 195, 232);
}


.container-box {
    display: flex;
    
}

.child-box {
    justify-self: right;
    float: left;
    display: flex;
    width: 700px;
    height: fit-content;
    background-color: var(--bg);
    border: 5px solid;
    padding: 15px;
    margin: 10px;
    margin-left: 15%;
}

.child-box.sidebar{
    display: block;
    padding: 15px;
    width: fit-content;
    justify-content: flex-end;
    height: fit-content;
    text-decoration: none;
    margin-left: 10px;
}


/* animations */
.moveRightanimation {
    
    animation: moveRight 0.1s linear infinite; iteration-count direction fill-mode;
}

@keyframes moveRight {
    0% { transform: translateX(-100%); }
  100% { transform: translateX(10000px); }
}

@keyframes slideIn {
  from { transform: translateY(-300px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}